@use 'uswds-core' with (
	$theme-image-path: 'dist/img/'
);

@forward "usa-button";
@forward "nci-header";
@forward "usa-sidenav";
@forward 'usa-site-alert';

.special-cta-button {
	@extend usa-button;
	min-width: 5rem;
	margin-bottom: 2rem;
}
